# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env.*.local

# Sistema operativo
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Build outputs (por si generás algo)
dist/
build/

